<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<title>Review the book</title>
</head>
<body>
	{{ form.errors }}
   <form action="{% url 'review_book' %}" method="post" class="list-group-item">
   {% csrf_token %}
    <div name="form-group form-group-lg">
      <label class="control-label" for="id_book_name">Book: </label>
      <select id="id_book_name" name="books" class="form-control">
        {% for val, txt in form.fields.books.choices %}
           <option value='{{ val }}'>{{ txt }}</option>
        {%endfor%}
      </select>
    </div>
    <div class="form-group form-group-lg">
      <lable class="control-label"  for="id_text">Text:</lable>
      <textarea id="id_text" name="text" class="form-control" rows="2">{{form.form.text }}</textarea>
    </div>
      <input type="submit" value="send" class="btn btn-default"/>
   </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>