{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
	<script language="javascript">window.location='http://127.0.0.1:8000/home/';</script>
{% else %}
	<div class="container-fluid">
		<h1>Автор: {{ author }}</h1>
		{% if  author.image %}
			<img style="width:200px;" src="/media/{{ author.image }}" alt="{{ author.image }}" id="{{ author.image }}" class="img-circle" />
		{% else%}
		    <img style="width:200px;" src="/static/no_image.png" alt="no_image.png" class="img-circle" />
		{% endif %}
		<br><br>
        <input value="Update author" onClick="location.href='/author_update/{{ author.pk }}'" type="button" class="btn btn-default btn-lg"/>
		<h2>Книги автора:</h2>
			<ul>
				{% for book in books %}
					{% if book.author == author %}
						<li>{{ book.name }}</li>
					{% endif %}
				{% empty %}
					<li>No books</li>
				{% endfor %}
			</ul>
	</div>
	{% endif %}
{% endblock %}