{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
<div class="container-fluid">
	<h1>Hello, readers!</h1>
	{% if not user.is_authenticated %} 
	<p>If you wont looks for author and his books you must log in or registration!</p>	
	<input value="Log in" onClick="location.href='{% url 'avtoriz'%}'" type="button" class="btn btn-default btn-lg"/><br><br>
	<input value="Registration" onClick="location.href='{% url 'registr' %}'" type="button" class="btn btn-default btn-lg"/>
	{% else %}
	<p>Do you wont log out?</p>
	<input value="Author list" onClick="location.href='{% url 'author_list'%}'" type="button" class="btn btn-default btn-lg"/><br><br>
	<input value="Log out" onClick="location.href='{% url 'logout'%}'" type="button" class="btn btn-default btn-lg"/>
	{% endif %}
	
</div>
{% endblock %}