{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
	<script language="javascript">window.location='http://127.0.0.1:8000/home/';</script>
{%else%}
	<div class="container-fluid">
		<h1>Authors:</h1>
		<form  action="" method="post" class="list-group-item">{% csrf_token %}
		<input name="text" type="text"/>
		<input type="submit" value="Send" class="btn btn-default"/><br>
		<!--<input type="radio" name="up" value="Up"><br>
		<input type="radio" name="down" value="Down" checked>-->
		<ul>
			{% for author in author_list %}
	    	<li>
	    		<a href="{% url 'detail' author.pk %}">
	    			{{ author }}
	    		</a>
	    	</li>
			{% empty %}
	   		 <li>No author</li>
			{% endfor %}
		</ul>
		<input value="Add new author" onClick="location.href='{% url 'add_author'%}'" type="button" class="btn btn-default"/>
		</form>

	</div>
{% endif %}
{% endblock %}