{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
<div class="container-fluid">
    {% load tz %}
	{% get_current_timezone as TIME_ZONE %}
	<form action="{% url 'set_timezone' %}" method="POST">
    	{% csrf_token %}
    	<label for="timezone">Time zone:</label>
    	<select name="timezone">
	        {% for tz in timezones %}
	        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
	        {% endfor %}
    	</select>
    	<input type="submit" value="Set" />
	</form>
</div>
{% endblock %}