{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
  <script language="javascript">window.location='http://127.0.0.1:8000/home/';</script>
{% else %}
  <div class="container-fluid">
    <h1>Update author: </h1>
    <form action="{% url 'add_author' %}" enctype="multipart/form-data" method="post" class="list-group-item">
      {% csrf_token %}
      <div class="form-group">
      {{ form.as_p }}
      </div>
      <input type="submit" value="Update" class="btn btn-default btn-lg"/>
    </form>
  </div>
{% endif %}
{% endblock %}

